@import '../../style/common.less';
@prefix-cls: ~'wowo-title';

.@{prefix-cls}{
  border-left: 5px solid @primary-color;
  margin-bottom: 30px;
  padding-left:25px;
  color:#6a6a77;
  font-size:32rpx;
  font-weight:bold;
  line-height:1.5;
}
